@model UsersViewModel
@{
    ViewData["Title"] = "找回密码";
}
<style>
    .retricont {
        text-align: center;
        margin: 0 auto;
        padding-top:25px;
    }
    .retriul{
        list-style:none;
        text-align:center;
        margin:0 auto;
    }
    .retriul li{
        /*height:50px;*/
        margin-bottom:25px;
    }
    .retriul label{
        font-size:15px;
        font-weight:normal;
    }
    .retriul label[for=username]:before{
        content:'*';
        color:#f00;
        margin-right:5px;
        margin-left:-12px;
    }
    .retriul input{
        outline:none;
        border: 1px solid #ddd; 
        border-radius: 3px;
        padding: 5px;
        width:300px;
    }
    .retriul .retirtype{
        margin-bottom:4px;
        color:#999;
    }
</style>
<div class="retricont">
    <span class="pwd1" id="pwd1" style="color:#f37676;"></span>
    <form method="post" name="form" id="form" onsubmit="return retrieve()">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <ul class="retriul">
                <li>
                    <label for="username">账&emsp;&emsp;号：</label>
                    <input type="text" name="username" id="username" maxlength="20" placeholder="请输入账号" required />
                </li>
                <li class="retirtype">
                    <p>二选一，请选择输入已注册的邮箱或手机号码进行找回密码</p>
                </li>
                <li>
                    <label for="email">邮箱地址：</label>
                    <input type="email" name="email" id="email" placeholder="请输入邮箱" />
                </li>
                <li>
                    <label for="telephone">手机号码：</label>
                    <input type="tel" name="telephone" id="telephone" placeholder="请输入手机号" onblur="isPoneAvailable(this.value);" />
                </li>
                <li>
                    <button type="button" onclick="retrievepwd();" class="btn btn-default">提交</button>
                </li>
            </ul>
        </form>
</div>

<script>
    function retrieve() {
        var email1 = document.getElementById('email').value;
        var telephone1 = document.getElementById('telephone').value;
        if (email1.length > 0 || telephone1.length>0) {
            return true;
        } else {
            alert("二选一，请选择输入已注册的邮箱或手机号码进行找回密码");
            return false;
        }
    }
    /**判断是否是手机号**/
    function isPoneAvailable(str) {
        var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
        if (!myreg.test(str)) {
            alert("手机号码有误，请重填");
            return false;
        } else {
            return true;
        }
    }

    //ajax提交表单
    function retrievepwd() {
        var username = document.getElementById('username').value;
        var email = document.getElementById('email').value;
        var telephone = document.getElementById('telephone').value;
        $.ajax({
            type: "post",
            url: "/Account/RetrievePassword",
            data: {
                "username": username,
                "email": email,
                "telephone": telephone
            },
            success: function (e) {
                if (e.message[0]) {
                    document.getElementById("pwd1").innerText = "尊敬的" + username+"先生/女士，您的密码为："+ e.message[0];
                } else {
                    document.getElementById('errormsg').innerText = " ";
                }
            }
        });
    }
</script>