@model NaturalDisasterDatabaseWebsite.Models.Science_essayViewModel

@{
    ViewData["Title"] = "编辑文章";
}
<script src="~/lib/ueditor-1.4.3.3/ueditor.parse.js"></script>
<style>
    .content-title {
        text-align: center;
        width: 94%;
        font-weight: 600;
        font-size: 16px;
        display: inline-block;
        height: 36px;
        line-height: 36px;
    }
    .content_source {
        text-align: center;
        color: #7E8489;
        margin-bottom: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .content_source .span {
        display: inline-block;
        margin-right: 2em;
    }
    .content_txt {
        line-height: 30px;
    }
    .onerow {
        display: inline-block;
        width: auto;
    }
    .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .form-control:focus {
        border: 1px solid #ccc;
        outline: none;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    }
    .btn-publish {
        font-size: 16px;
        color: rgb(255, 255, 255);
        white-space: nowrap;
        background-color: rgb(202, 12, 22);
        padding: 6px 16px;
        border-style: none;
        border-radius: 4px;
    }
    .btn-publish:hover {
        background-color: rgb(182, 11, 20);
        color: rgb(255, 255, 255);
    }
    .btn-publish:focus{
        outline:none;
    }
</style>

<form asp-controller="PersonCenter" asp-action="Edit" method="post" name="form1" id="form1">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="ID" type="hidden" />
    <input asp-for="state" type="hidden" value="待审核" />
    <input asp-for="userID" type="hidden" />
    <input type="hidden" asp-for="wz_content" id="content" />
    <input type="hidden" asp-for="fb_time" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" id="fb_time" />
    <input asp-for="wz_style" id="wz_style" type="hidden" />
</form>
<div style="margin-top:20px;">
    <div style="margin-bottom:20px;">
        <input type="text" asp-for="title" class="form-control content-title" id="title" form="form1" />
        <input type="submit" value="保存" class="btn-publish" form="form1" />
    </div>
    <div class="content_source">
        <span class="span" id="datetime">发布时间：@Html.DisplayFor(model => model.fb_time)</span>
        <span class="span">
            来源：
            <input type="text" asp-for="source" class="form-control" id="source" form="form1" style="display:inline-block; width:81%;" />
            <span asp-validation-for="source" class="text-danger"></span>
        </span>
        <span class="span">
            作者：
            <input type="text" asp-for="author" class="form-control" id="author" form="form1" style="display:inline-block; width:81%;" />
            <span asp-validation-for="author" class="text-danger"></span>
        </span>
        <span>
            类型：@Html.DisplayFor(model => model.wz_style)
            <select class="form-control onerow" onchange="document.getElementById('wz_style').value = this.value;">
                <option selected disabled value="" style="display:none;">请选择文章类型</option>
                <option value="地震灾害科普">地震灾害科普</option>
                <option value="气象灾害科普">气象灾害科普</option>
                <option value="海洋灾害科普">海洋灾害科普</option>
                <option value="洪水灾害科普">洪水灾害科普</option>
                <option value="地质灾害科普">地质灾害科普</option>
                <option value="农作物生物灾害科普">农作物生物灾害科普</option>
                <option value="森林生物灾害科普">森林生物灾害科普</option>
                <option value="森林火灾科普">森林火灾科普</option>
                <option value="地震灾害时政">地震灾害时政</option>
                <option value="气象灾害时政">气象灾害时政</option>
                <option value="海洋灾害时政">海洋灾害时政</option>
                <option value="洪水灾害时政">洪水灾害时政</option>
                <option value="地质灾害时政">地质灾害时政</option>
                <option value="农作物生物灾害时政">农作物生物灾害时政</option>
                <option value="森林生物灾害时政">森林生物灾害时政</option>
                <option value="森林火灾时政">森林火灾时政</option>
                <option value="未知">未知</option>
            </select>
        </span>
    </div>
    @*文章内容*@
    <div class="content_txt">
        <script id="editor" type="text/plain" style="width:100%;height:auto;">
            @Html.Raw(System.Net.WebUtility.UrlDecode(@Model.wz_content))
        </script>
        <script type="text/javascript">
            $(function () {
                UE.delEditor('editor');
                var ue = UE.getEditor('editor', {
                    toolbars: [
                        [
                            'undo', 'redo', 'fontfamily', 'fontsize', 'touppercase', 'tolowercase', '|', 'bold', 'indent', 'italic', 'underline', 'strikethrough', 'subscript', 'superscript', '|', 'horizontal', '|', 'insertorderedlist', 'insertunorderedlist', '|', 'justifyleft', 'justifyright', 'justifycenter', 'justifyjustify', '|', 'imagenone', 'imageleft', 'imagecenter', 'imageright', '|', 'lineheight', '|', 'rowspacingtop', 'rowspacingbottom', '|', 'pagebreak', '|', 'paragraph', 'customstyle', 'searchreplace', 'formatmatch', 'removeformat', 'cleardoc', '|',
                            'fontborder', 'selectall', 'pasteplain', 'anchor', 'blockquote', 'emotion', 'spechars', '|', 'autotypeset', '|', 'forecolor', '|', 'backcolor', '|', 'scrawl', '|', 'link', 'unlink', '|', 'attachment', '|', 'insertparagraphbeforetable', 'insertrow', 'insertcol', '|', 'mergeright', 'mergedown', '|', 'deleterow', 'deletecol', '|', 'inserttable', 'splittorows', 'splittocols', 'splittocells', 'deletecaption', 'inserttitle', 'mergecells', 'edittable', 'edittd', 'deletetable', '|', 'simpleupload', 'insertimage', '|', 'time', 'date', '|', 'directionalityltr', 'directionalityrtl', '|', 'background', 'template', 'insertvideo', 'music', '|', 'fullscreen', 'preview', 'edittip '
                        ]
                    ],
                    initialFrameHeight: 500,
                    allowDivTransToP: false,//阻止div标签自动转换为p标签
                    autoHeightEnabled: true,
                    autoFloatEnabled: true
                });
                ue.ready(function () {
                    $(".edui-editor-messageholder.edui-default").css({ "visibility": "hidden" });
                })
            })
        </script>
        <script>
            function cc() {
                document.getElementById('content').value = UE.getEditor('editor').getContent();
            }
            setInterval(function () {
                cc();
            }, 100);
        </script>
    </div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}