<div class="mdpwd" id="mdpwd" style="margin:20px auto; text-align:center;">
    <div style="color:#f86775; margin-bottom:10px;" id="errormsg"></div>
    <ul>
        <li>
            <label for="oldpassword">输入原密码：</label>
            <input type="password" name="password" id="oldpassword" placeholder="6位数字" required oninput="changeBtnable()" class="pass">
            <span class="see-passwordold">
                <i class="glyphicon glyphicon-eye-close no-see-password-icon oldpassword"></i>
                <i class="glyphicon glyphicon-eye-open see-password-icon oldpassword" style="display:none;"></i>
            </span>
        </li>
        <li>
            <form asp-controller="PersonCenter" asp-action="ModifyPassword" method="post" name="form3" id="form3">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <label for="newpassword">输入新密码：</label>
                <input type="password" name="password" id="newpassword" placeholder="6位数字" required oninput="changeBtnable()" class="pass">
                <span class="see-passwordnew">
                    <i class="glyphicon glyphicon-eye-close no-see-password-icon newpassword"></i>
                    <i class="glyphicon glyphicon-eye-open see-password-icon newpassword" style="display:none;"></i>
                </span>
            </form>
        </li>
        <li>
            <label for="qrpassword">确认新密码：</label>
            <input type="password" name="password" id="qrpassword" placeholder="确认新密码" required oninput="changeBtnable()" class="pass">
            <span class="see-passwordqr">
                <i class="glyphicon glyphicon-eye-close no-see-password-icon qrpassword"></i>
                <i class="glyphicon glyphicon-eye-open see-password-icon qrpassword" style="display:none;"></i>
            </span>
        </li>
        <li class="acc_pass_b">
            <button disabled="disabled" class="confirm_btn confirm_disable noable">确&emsp;认</button>
            <button type="submit" style="display:none;" class="confirm_btn confirm_primary submt" form="form3">确&emsp;认</button>
        </li>
    </ul>
    <div style="margin-left:41px;">
        <label>显示密码</label>
        <input type="checkbox" id="showPas" />
    </div>
</div>