@*关于*@
@{
    ViewData["Title"] = "关于我们";
}
<style>
    * {
        font-size: 16px;
    }

    h4 {
        text-align: center;
    }
</style>
<h4>@ViewData["Title"] (八桂自然灾害管理信息网)</h4>

<p style="text-align:center; color:#808080; margin-top:40px;">
    呃喔~该板块正在奋力开发中……敬请期待(*❦ω❦)
</p>
<p style="text-align:center; color:#555;">
    若有什么问题，请联系管理员处理哦~ <a class="ismanager" target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=alhbWlJbWFldWl4qGxtECQUH" style="text-decoration:none;"><img src="~/images/top01.png" style="transform: rotate(90deg); width:30px; height:30px;" /></a>
</p>