@{
    ViewData["Title"] = "隐私策略（Privacy policy）";
}
@*<p>Use this page to detail your site's privacy policy.</p>*@
<div>
    <img alt="暂无图片" src="~/images/404.jpg" style="width:100%; height:auto;" />
    <div style="font-size:28px; font-family:'楷体'; top:-380px; position:relative; color:#515151; text-align:center; font-weight:bold;">
        对不起，你没有权限访问该资源<br />
        <br />
        <br />
        <br />
        <br />
        若想访问该资源，可注册后申请成为管理员哦~
    </div>
</div>

<style>
    p{
        text-indent:2em;
    }
</style>

<h3>@ViewData["Title"]</h3>
<p>本隐私政策介绍本网站的隐私数据相关政策和惯例，这将涵盖我们如何收集、使用、处理、存储和/或披露那些通过本网站收集的关于您的个人信息。请您仔细阅读我们的隐私政策。</p>
<h4>一、本网站如何收集您的个人信息</h4>
<p>
    个人信息是可用于唯一地识别或联系某人的数据。当您使用本网站，注册用户过程中我们将会收集您的个人信息，如：电子邮件地址、电话号码。为了保护个人隐私，您不应提供除本网站特别要求之外的任何其它信息。
</p>
<h4>二、本网站如何使用您的个人信息</h4>
<p>
    1、通过您的个人信息，向您发送本网站的服务信息。
</p>
<p>
    2、通过您的个人信息实现密码找回功能。
</p>
<p>
    3、除本网站发生重组、合并或出售，可将我们收集的一切个人信息转让给相关第三方外，本网站不会向任何无关第三方提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可，或该第三方和本网站单独或共同为您提供服务，且在该服务结束后，其将被禁止访问包括其以前能够访问的所有这些信息。
</p>
<h4>三、个人信息安全</h4>
<p>
    保证您的个人数据的安全对我们来说至关重要。本网站将通过对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。请妥善保管您的用户名及密码信息。尽管有前述安全措施，但同时也请您注意在信息网络上不存在“完善的安全措施”。因此，尽管我们通过商业上可接受的方式来保护您的个人信息，但仍无法保证信息的绝对安全。
</p>
<h4>四、本网站会将个人信息保存多久</h4>
<p>
    一般来说，本网站仅保留您的个人信息至履行收集目的所需的期限，同时将遵守适用法律规定的数据保留期限。
</p>
<h4>五、法律免责声明</h4>
<p>
    在法律要求的情况下，以及本网站认为必须披露与您有关的信息来保护本公司的法定权益和/或遵守司法程序、法院指令或适用于本网站的法律程序时，我们有权透露您的个人信息。
    如果本公司确定为了执行本公司的条款和条件或保护我们的经营，披露是合理必须的，则我们可披露与您有关的信息。
</p>
<h4>六、本隐私政策的更改</h4>
<p>
    如果决定更改隐私政策，我们会在本政策中、本网站中以及我们认为适当的位置发布这些更改，以便您了解我们如何收集、使用您的个人信息，哪些人可以访问这些信息，以及在什么情况下我们会透露这些信息。本网站保留随时修改本政策的权利，因此请经常查看。如对本政策作出重大更改，本网站以通知的形式告知。
</p>
<h4>七、隐私问题</h4>
<p>如果你对本公司的隐私政策或数据处理有任何问题或顾虑，请通过邮箱:xxx@xx.com.cn与本网站管理员联系。</p>
